[Desktop Entry]
Name=Mine
Name[en_GB]=Mine
Name[x-test]=xxMineexx

X-KDE-PluginInfo-Name=Mine
X-KDE-PluginInfo-Author=Paul Ward
X-KDE-PluginInfo-Email=asmodai@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
