[Desktop Entry]
Name=My Aurorae
X-KDE-PluginInfo-Author=Paul Ward
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=asmodai@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Mine
X-KDE-PluginInfo-Version=1.0.1
