[Desktop Entry]
Comment=Mine!
Name=Mine
X-KDE-PluginInfo-Author=Paul Ward
X-KDE-PluginInfo-Email=asmodai@gmail.com
X-KDE-PluginInfo-Name=Mine
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0



