[SddmGreeterTheme]
Name=My Breeze
Description=Breeze Theme using my desktop
Author=Paul Ward
Copyright=(c) 2025, Paul Ward.
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=Paul Ward <paul@lisphacker.uk>
Theme-Id=my-breeze
Theme-API=2.0
